In [37]:
import matplotlib as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
from sklearn.datasets import load_iris
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier  
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn import utils

In [38]:
df = pd.read_csv('train.csv')

In [39]:
df.describe()

,carat,depth,table,x,y,z,price
count,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000
mean,0.795368,61.720080,57.490596,5.731005,5.716316,3.528779,7.846779
std,0.485184,5.160848,5.473837,1.492658,1.503996,1.216390,8.000676
min,0.020265,39.768041,36.987798,0.031002,0.307422,0.006598,0.652000
25%,0.405042,58.227008,53.812489,4.659935,4.631587,2.684302,1.886000
50%,0.684387,61.720635,57.388137,5.681654,5.678285,3.508792,4.734000
75%,1.074885,65.219405,61.172691,6.747104,6.738530,4.361609,10.730000
max,4.445496,81.160537,84.895276,11.133427,11.205688,7.983576,37.608000

In [40]:
df

,carat,cut,color,clarity,depth,table,x,y,z,price
0,0.544971,Ideal,E,SI1,63.911017,52.575829,5.447452,4.053076,3.701485,3.558
1,2.073682,Premium,J,SI1,67.642925,57.660288,6.266665,7.661507,6.177051,24.738
2,0.606198,Premium,G,VS1,55.617310,60.388787,6.800151,5.096966,3.480326,3.630
3,0.695397,Premium,G,SI2,60.587811,71.325721,5.366931,6.616767,4.454435,4.218
4,0.282651,Ideal,E,VVS2,68.970056,54.372123,4.920104,4.409408,4.361358,1.578
...,...,...,...,...,...,...,...,...,...,...
11995,0.251768,Premium,E,VS1,69.674513,52.790228,5.657402,5.832983,3.386799,1.628
11996,1.729415,Premium,H,SI1,56.191121,48.024573,6.725585,8.624433,4.822269,15.508
11997,2.252697,Very Good,I,SI2,64.007494,63.641838,8.510526,9.108384,3.674364,20.018
11998,0.139030,Very Good,D,VS2,64.885328,55.383459,2.799799,2.281538,2.419920,0.746
11999,0.320988,Ideal,G,IF,68.921055,62.357899,4.970371,7.428551,3.648548,1.660

In [41]:
df2=df.dropna().reset_index().drop(['index'],axis=1)

df2

In [42]:
df2

,carat,cut,color,clarity,depth,table,x,y,z,price
0,0.544971,Ideal,E,SI1,63.911017,52.575829,5.447452,4.053076,3.701485,3.558
1,2.073682,Premium,J,SI1,67.642925,57.660288,6.266665,7.661507,6.177051,24.738
2,0.606198,Premium,G,VS1,55.617310,60.388787,6.800151,5.096966,3.480326,3.630
3,0.695397,Premium,G,SI2,60.587811,71.325721,5.366931,6.616767,4.454435,4.218
4,0.282651,Ideal,E,VVS2,68.970056,54.372123,4.920104,4.409408,4.361358,1.578
...,...,...,...,...,...,...,...,...,...,...
11995,0.251768,Premium,E,VS1,69.674513,52.790228,5.657402,5.832983,3.386799,1.628
11996,1.729415,Premium,H,SI1,56.191121,48.024573,6.725585,8.624433,4.822269,15.508
11997,2.252697,Very Good,I,SI2,64.007494,63.641838,8.510526,9.108384,3.674364,20.018
11998,0.139030,Very Good,D,VS2,64.885328,55.383459,2.799799,2.281538,2.419920,0.746
11999,0.320988,Ideal,G,IF,68.921055,62.357899,4.970371,7.428551,3.648548,1.660

In [43]:
df3=df2

In [44]:
df3.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price      float64
dtype: object

In [45]:
df3.cut.value_counts()

cut
Ideal        4862
Premium      3010
Very Good    2671
Good         1115
Fair          342
Name: count, dtype: int64

In [46]:
df3.color.value_counts()

color
G    2566
E    2154
F    2098
H    1808
D    1520
I    1198
J     656
Name: count, dtype: int64

In [47]:
a=df3.cut.replace('Ideal',0).replace('Premium',1).replace('Very Good',2).replace('Good',3).replace('Fair',4)
df3['ncut']=a
df3.drop(['cut'],axis=1)
b=df3.color.replace('G',0).replace('E',1).replace('F',2).replace('H',3).replace('D',4).replace('I',5).replace('J',6)
df3['ncolor']=b
df3.drop(['color'],axis=1)
c=df3.clarity.replace('SI1',0).replace('VS2',1).replace('SI2',2).replace('VS1',3).replace('VVS2',4).replace('VVS1',5).replace('IF',6).replace('I1',7)
df3['nclarity']=c
df3.drop(['clarity'],axis=1)
df3

,carat,cut,color,clarity,depth,table,x,y,z,price,ncut,ncolor,nclarity
0,0.544971,Ideal,E,SI1,63.911017,52.575829,5.447452,4.053076,3.701485,3.558,0,1,0
1,2.073682,Premium,J,SI1,67.642925,57.660288,6.266665,7.661507,6.177051,24.738,1,6,0
2,0.606198,Premium,G,VS1,55.617310,60.388787,6.800151,5.096966,3.480326,3.630,1,0,3
3,0.695397,Premium,G,SI2,60.587811,71.325721,5.366931,6.616767,4.454435,4.218,1,0,2
4,0.282651,Ideal,E,VVS2,68.970056,54.372123,4.920104,4.409408,4.361358,1.578,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,0.251768,Premium,E,VS1,69.674513,52.790228,5.657402,5.832983,3.386799,1.628,1,1,3
11996,1.729415,Premium,H,SI1,56.191121,48.024573,6.725585,8.624433,4.822269,15.508,1,3,0
11997,2.252697,Very Good,I,SI2,64.007494,63.641838,8.510526,9.108384,3.674364,20.018,2,5,2
11998,0.139030,Very Good,D,VS2,64.885328,55.383459,2.799799,2.281538,2.419920,0.746,2,4,1
11999,0.320988,Ideal,G,IF,68.921055,62.357899,4.970371,7.428551,3.648548,1.660,0,0,6

In [48]:
df3.size

156000

In [51]:
Var_Corr = df3.corr()

sns.heatmap(Var_Corr, xticklabels=Var_Corr.columns, yticklabels=Var_Corr.columns, annot=True)

ValueError: could not convert string to float: 'Ideal'

In [34]:
df4=df3.drop(['clarity','cut','color','price','nclarity'],axis=1)
X=df4
y=df3.price
scaler = MinMaxScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)
X

,carat,depth,table,x,y,z,ncut,ncolor
0,0.118571,0.583269,0.325378,0.487862,0.343693,0.463194,0.00,0.166667
1,0.464025,0.673428,0.431509,0.561649,0.674794,0.773533,0.25,1.000000
2,0.132407,0.382902,0.488462,0.609700,0.439478,0.435469,0.25,0.000000
3,0.152564,0.502984,0.716755,0.480609,0.578931,0.557584,0.25,0.000000
4,0.059293,0.705491,0.362873,0.440363,0.376389,0.545916,0.00,0.166667
...,...,...,...,...,...,...,...,...
11995,0.052314,0.722510,0.329853,0.506772,0.507013,0.423745,0.25,0.166667
11996,0.386228,0.396765,0.230377,0.602984,0.763150,0.603696,0.25,0.500000
11997,0.504478,0.585600,0.556365,0.763754,0.807556,0.459794,0.50,0.833333
11998,0.026838,0.606808,0.383983,0.249387,0.181140,0.302536,0.50,0.666667
11999,0.067956,0.704307,0.529565,0.444891,0.653419,0.456558,0.00,0.000000

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(10800, 8) (1200, 8)
(10800,) (1200,)

In [36]:
model = LinearRegression().fit(X_train, y_train)
print("Linear Regression accuracy: ", model.score(X_test, y_test))

Linear Regression accuracy:  0.8230425061639723